body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  height: 20vh;
  background: url('../images/banner.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 75%;
}

header img {
  width: 100%;  /* This will make the image take the full width of its container */
  height: auto; /* This will keep the image's aspect ratio */
}

.logo-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

nav {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}